*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin respond() {
    @media only screen and (max-width: 475px) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Monsterrat", "Arial", sans-serif;
    font-weight: 400;
    color: $text-color;
    font-size: 1.6rem;
    background-color: $background-color-main;
    display: grid;
    justify-content: center;
}

.container {
    max-width: 144rem;
    overflow: hidden;
    @include respond() {
        padding: 4rem 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@mixin padding-1_5rem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}