*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin respond() {
    @media only screen and (max-width: 375px) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Monsterrat", "Arial", sans-serif;
    font-weight: 400;
    color: $text-color;
    font-size: 1.6rem;
    background-color: $background-color-main;
    display: grid;
    justify-content: center;
}

.container {
    max-width: 144rem;
    overflow: hidden;
    z-index: 0;
    @include respond() {
        padding: 4rem 1.5rem 0 1.5rem;
    }
}