.easier-ordering {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    @include respond() {
        @include padding-1_5rem;
        margin-bottom: 14.5rem;
    }
    &__text {
        justify-self: end;
        padding-right: 16rem;
        @include respond() {
            justify-self: start;
            padding-right: 0;
            padding-bottom: 14.5rem;
        }
    }
    &__img {
        position: relative;
        width: 86.8rem;
        height: 103.8rem;
        justify-self: center;
        @include respond() {
            width: 36rem;
            height: 43rem;
            & img {
                width: 100%;
                transform: translate(-1.9rem, -.1rem);
            }
        }
    }
    &__fhrases_item {
        display: flex;
        align-items: center;
        font-family: "Roboto 500", "Arial", sans-serif;
        background: $background-color-main;
        border: 0.1rem solid rgba(255, 255, 255, 0.5);
        border-radius: 1.8rem;
        font-size: 2.3rem;
        line-height: 2.7rem;
        padding-left: 2.5rem;
        letter-spacing: 0.02rem;
        @include respond() {
            border-radius: 1rem;
            font-size: 1.4rem;
            line-height: 1.4rem;
            padding-left: 1.5rem;
        }
        &-1 {
            position: absolute;
            top: 35.9rem;
            left: -2.4rem;
            width: 28.5rem;
            height: 11.3rem;
            @include respond() {
                top: -7.1rem;
                left: 2.6rem;
                width: 16.5rem;
                height: 5.7rem;
            }
        }
        &-2 {
            position: absolute;
            top: 73rem;
            left: 19.8rem;
            width: 17.6rem;
            height: 6.6rem;
            @include respond() {
                top: 33.9rem;
                left: 1.6rem;
                width: 10.7rem;
                height: 4.3rem;
            }
        }
        &-3 {
            position: absolute;
            top: 20.3rem;
            left: 47.5rem;
            width: 26.7rem;
            height: 9.9rem;
            padding-left: 2.4rem;
            @include respond() {
                top: 1.7rem;
                left: 17.6rem;
                width: 17.1rem;
                height: 6.2rem;
            }
        }
        &-4 {
            position: absolute;
            top: 63.8rem;
            left: 69.3rem;
            width: 18.5rem;
            height: 9.1rem;
            @include respond() {
                top: 42.2rem;
                left: 22.5rem;
                width: 12.2rem;
                height: 5.8rem;
                padding-left: 1.9rem;
            }
        }
    }
}