.feedback {
    position: relative;
    padding: 0 31.1rem;
    text-align: center;
    @include respond() {
        padding: 0;
        &>.paragraph {
            padding: 0 2.6rem;
            text-align: center;
        }
    }
    &__bg {
        position: absolute;
        top: 0rem;
        left: 40rem;
        @include blurred__bg;
        opacity: 0.3;
        height: 25rem;
        width: 24.7rem;
        @include respond() {
            top: 0rem;
            left: 0rem;
            filter: blur(12.5rem)
        }
        &-big {
            position: absolute;
            top: 60rem;
            left: 90rem;
            width: 33.7rem;
            height: 34.1rem;
            @include respond() {
                top: 98rem;
                left: 25rem;
                filter: blur(125px);
            }
        }
    }
    & .title-2 {
        margin-bottom: 2rem;
    }
    & .paragraph {
        font-size: 1.8rem;
        margin-bottom: 8rem;
    }
}