.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15.5rem 10rem 8.6rem 10rem;
    font-family: "Avenir bold", "Arial", sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    @include respond() {
        padding: 0;
        @include padding-1_5rem;
        padding-top: 6.2rem;
        flex-direction: column;
        align-items: center;
    }
    &__right-part,
    &__left-part {
        display: flex;
        flex-direction: column;
        @include respond() {
            align-items: center;
        }
    }
    &__left-part {
        @include respond() {
            order: 1;
        }
    }
    &__right-part {
        @include respond() {
            margin-bottom: 5.9rem;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        font-family: "Avenir 500", "Arial", sans-serif;
        @include respond() {
            flex-direction: row;
        }
    }
    &__img {
        margin-bottom: 1.6rem;
        width: 7.2rem;
        height: 1.5rem;
    }
    &__link {
        font-family: "Avenir bold", "Arial", sans-serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-decoration: none;
        color: $text-color;
        &:first-child {
            margin-bottom: 2.5rem;
            @include respond() {
                margin-bottom: 1.5rem;
            }
        }
    }
}