.link {
    position: relative;
    color: $text-color;
    font-size: 1.8rem;
    font-family: "Noto Sans 400", "Arial", sans-serif;
    line-height: 2.1rem;
    text-decoration: none;
    padding-bottom: 0.1rem;
    border-bottom: .2rem solid $text-color;
    @include respond() {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0.4rem;
        left: -3.9rem;
        background: url('../img/icon-user.svg') center / cover no-repeat;
        height: 2.6rem;
        width: 2.6rem;
    }
    &:hover {
        cursor: pointer;
    }
}