.notab {
    display: flex;
    padding: 34.9rem 0 22rem 0;
    justify-content: center;
    background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%), url('../img/background-notab.png');

    @include respond() {
        display: none;
    }

    &__img {
        transform: translate(0rem, -4rem);
        width: 53.5vw;
        object-fit: cover;
    }
}