.our-mission {
    position: relative;
    display: grid;
    grid-template-columns: 55vw 30vw;
    align-items: center;
    justify-content: center;
    padding: 11.5rem 0 49.9rem 0;
    transition: all 3s ease;
    //height: 104.8rem;
    @include respond() {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, min-content);
        padding-bottom: 58rem;
        padding-top: 11rem;
        @include padding-1_5rem;
    }
    &__text {
        position: relative;
        transition: all 3s ease;
        padding-right: 15rem;
        @include respond() {
            padding: 0;
            order: 1;
        }
        & .title-2 {
            margin-bottom: 2.4rem;
        }
    }
    &__img {
        &_phone {
            transition: all 3s ease;
            position: absolute;
            top: -41rem;
            height: 153.9rem;
            width: 90.8rem;
            transform: translateX(-156rem) rotate(90deg);
            @include respond() {
                position: absolute;
                top: 38rem;
                left: 2.9rem;
                order: 2;
                transform: rotate(0deg);
                height: 50rem;
                width: 32.3rem;
            }
        }
    }
    &__circle {
        position: absolute;
        top: 0rem;
        left: 15rem;
        width: 8.5rem;
        height: 8.5rem;
        background: $background-pink;
        opacity: 0.7;
        filter: blur(50px);
        @include respond() {
            top: -3rem;
            left: -2rem;
        }
    }
    &__elipse {
        transition: all 3s ease-in-out;
        display: none;
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50.1rem;
        height: 71.1rem;
        border-radius: 50%;
        background: radial-gradient(62.81% 61.84% at 69.82% 26.13%, $radial-gradient-color-1 0%, $radial-gradient-color-2 35.94%, $radial-gradient-color-3 78.13%, $radial-gradient-color-4 100%);
        filter: blur(9.8rem);
    }
}