.our-mission {
    position: relative;
    display: grid;
    grid-template-columns: 55vw 30vw;
    align-items: center;
    justify-content: center;

    padding: 11.5rem 0 49.9rem 0;

    //height: 104.8rem;
    @include respond() {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, min-content);
        padding-top: 11rem;
        @include padding-1_5rem;
    }

    &__text {
        padding-right: 15rem;

        & .title-2 {
            margin-bottom: 2.4rem;
        }

        @include respond() {
            order: 1;
        }
    }

    &__img {
        position: absolute;
        top: -41rem;
        left: -23rem;
        height: 153.9rem;
        width: 90.8rem;
        transform: translate(1rem, 1rem) rotate(90deg);

        @include respond() {
            order: 2;
            transform: rotate(0deg);
            width: 34.3rem;
            justify-self: center;
        }
    }
}