.qr-code-generate {
    position: relative;
    padding: 30rem 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    background: url('../img/background-qr-code.png') center no-repeat;
    &__img {
        object-fit: cover;
    }
    &__arrow {
        font-family: "Monsterrat-Bold", "Arial", sans-serif;
        font-size: 2.1rem;
        line-height: 2.6rem;
        &::after {
            content: "";
            margin: 0;
            background: url('../img/Arrow.svg') no-repeat;
            display: block;
            width: 20rem;
            height: 8rem;
            transform: translate(-8rem, -10rem);
        }
    }
    &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100rem;
        height: 95rem;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.15;
        filter: blur(15.5rem);
        border-radius: 47.6rem;
        transform: translate(-50%, -50%) rotate(-0.55deg);
    }
}