.scanner {
    display: grid;
    grid-template-columns: repeat(3, 33.333vw);
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url('../img/background-barmen.jpg') center / cover no-repeat;
    @include respond() {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, min-content);
        background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url('../img/background-barmen.jpg') top / 100vw no-repeat;
        padding: 18rem 1.5rem 11.4rem 1.5rem;
    }
    &__img {
        justify-self: center;
        width: 28.7rem;
        object-fit: cover;
        &-first {
            margin: 7rem 0 5.5rem 0;
            order: 2;
        }
        &-second {
            order: 3;
        }
    }
    &__text {
        @include respond() {
            order: 1;
        }
    }
}