.scanner {
    display: grid;
    grid-template-columns: repeat(3, 33.333vw);
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url('../img/background-barmen.jpg') center / cover no-repeat;
}