.smart-platform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 14.3rem 0 0 10rem;

    &__download {
        display: grid;
        grid-template-columns: 40vw min-content min-content;
        grid-column: 1 / -1;

        @include respond() {
            grid-template-columns: auto;
        }
    }

    &__img {
        background: #0000;
    }
}