.smart-platform {
    display: grid;
    grid-template-columns: 60vw 1fr;
    grid-template-rows: min-content min-content;
    position: relative;
    z-index: 0;
    @include respond() {
        grid-template-columns: 65vw 1fr;
        @include padding-1_5rem;
    }
    &__img {
        position: relative;
        transform: translate(-2rem, -13.5rem);
        &_figure {
            position: absolute;
            top: 0;
            left: 0;
            width: 66.3rem;
            height: 66.3rem;
            z-index: 1;
            background: url('../img/backgroung-figure.png') center/100% no-repeat;
            filter: blur(5rem);
        }
        &_phone {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            @include respond() {
                width: 31rem;
                height: 46.5rem;
            }
        }
        @include respond() {
            transform: translate(-6rem, -1rem);
        }
    }
    &__circle {
        position: absolute;
        top: 45.3rem;
        left: 3.2rem;
        width: 12.5rem;
        height: 12.5rem;
        @include respond() {
            display: none;
        }
    }
    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        background-color: rgba(96, 92, 234, 0.5);
        filter: blur(5rem);
    }
    &__divider {
        position: absolute;
        top: 12rem;
        left: -2rem;
        display: block;
        width: 14rem;
        height: 0.4rem;
        background-color: $text-color;
        transform: rotate(120deg);
    }
    &__descr {
        padding: 14.3rem 0 0 10rem;
        @include respond() {
            padding: 9.8rem 0 0 0;
            margin-bottom: 11.3rem;
        }
    }
}