.title-1 {
  font-family: "Monsterrat-Bold", "Arial", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7rem;
}

.title-2 {
  font-family: "Monsterrat-Bold", "Arial", sans-serif;
  font-size: 5.1rem;
  font-weight: 700;
  line-height: 6.2rem;
}