.mt-129 {
    margin-top: 12.9rem;
}

.ml-105 {
    margin-left: 10.5rem;
}

.mb-267 {
    margin-bottom: 26.7rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-19 {
    margin-bottom: 1.9rem;
}