$background-color-main: #000;
$text-color: #fff;
$text-placeholder: #BFBFBF;
$background-color-cookie: #212834;
$color-error: #FF0000;
$background-pink: #F101BF;
$background-blue: #0066FF;
$radial-gradient-color-1: #CA13A4;
$radial-gradient-color-2: #8A0DBC;
$radial-gradient-color-3: #530FDC;
$radial-gradient-color-4: #0303F0;